html, body {
  margin: 0;
  padding: 0;
display: flex;
justify-content: center;
align-items: center;
background-color:#a8a8a8;
}
#myCanvas canvas {
  display: block;
  margin: auto;
  border-radius: 400px;
  padding: 40px;
  cursor: crosshair;
}

Header {
    font-family: "Copperplate", fantasy, monospace;
    font-size:62px;
    color:#d47272;
  Height:30vh;
  style=text-align:center;
   border-bottom: 2px solid #d47272;
   padding-right: 50px;
}

input[type=range].mySlider {
  width: 100%;
  margin: 5.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].mySlider:focus {
  outline: none;
}
input[type=range].mySlider::-webkit-slider-runnable-track {
  background: #d6acc2;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range].mySlider::-webkit-slider-thumb {
  margin-top: -6px;
  width: 22px;
  height: 20px;
  background: rgba(212, 114, 114, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].mySlider:focus::-webkit-slider-runnable-track {
  background: #d6acc2;
}
input[type=range].mySlider::-moz-range-track {
  background: #d6acc2;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range].mySlider::-moz-range-thumb {
  width: 22px;
  height: 20px;
  background: rgba(212, 114, 114, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
}
input[type=range].mySlider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range].mySlider::-ms-fill-lower {
  background: #d6acc2;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type=range].mySlider::-ms-fill-upper {
  background: #d6acc2;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type=range].mySlider::-ms-thumb {
  width: 22px;
  height: 20px;
  background: rgba(212, 114, 114, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].mySlider:focus::-ms-fill-lower {
  background: #d6acc2;
}
input[type=range].mySlider:focus::-ms-fill-upper {
  background: #d6acc2;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].mySlider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
